{{!-- This is the global UI template--}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- global header and navigation bar to go here --}}
    {{{body}}}{{!-- This is where the content for each view will be injected --}}
  </body>
</html>
